.hero-content {
    display: flex;
    padding: 50px 0px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.banner-img {
    border-radius: 100%;
    width: auto;
    height: 600px;
}